/* ここから 共通部分 */

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
  background-color: #FFFFFF;
}

body{
  width: 100%;
  margin: 0;
}

h2{
  font-size: 1.5em;
}

a{
  text-decoration: none;
}

.quick-link{
  position: fixed;
  right: 0;
  top: 0;
  background-color:rgba(40, 40, 40, 0.4);
  text-align: center;
}

.quick-text{
  padding-top: 10px;
  color: #2a2a2a;
  font-size: 1.2em;
}

.wrapper{
  background-color: #FFFFFF;
}

.site-logo{
  width: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.site-logo:hover{
  /* background-color: rgba(255,255,255,20); */
  opacity: 0.4;
}

.top-link{
  float: right;
  position: relative;
}

.nav-zone{
  height: 20%;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 5px;
}

.nav-zone{
  font-size: 2em;
}

.titleIcon{
  padding:0 10px 0 10px;
}


h2.subtitle{
  background-color: #EEEEEE;
  color: #232340;
  margin-bottom: 1%;
}

h2.Title{
  font-weight: 600;
  font-size: 1.5em;
  background-image: linear-gradient(-45deg, #f7e54b, 25%, #faf3b7, 25%, #faf3b7, 50%, #f7e54b, 50%, #f7e54b, 75%, #faf3b7, 75%, #faf3b7);
  background-size: 25px 25px; 
  border-radius: 5px;
  padding: 5px 0 5px 10px;
}

h2.Title_Blue{
  font-weight: 600;
  font-size: 1.5em;
  background-image: linear-gradient(-45deg, #91d7ff, 25%, #b7f0fa, 25%, #b7f0fa, 50%, #91d7ff, 50%, #91d7ff, 75%, #b7f0fa, 75%, #b7f0fa);
  background-size: 25px 25px; 
  border-radius: 5px;
  padding: 5px 0 5px 10px;
  color: #111111;
}

h3.miniTitle{
  padding: 10px 0 10px 10px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 5px;
  background-color: #fff382ea;
  border-radius: 5px;
  text-decoration-line: underline;
}

.jumbotron{
  margin: 0 !important;
  background: #000000;
}

.back{
  background-image: linear-gradient(-45deg, #FFFFFF, 25%, #EEEEEE, 25%, #EEEEEE, 50%, #FFFFFF, 50%, #FFFFFF, 75%, #EEEEEE, 75%, #EEEEEE);
  background-size: 15px 15px;
  padding-bottom: 10px;
}

.main{
  margin-top: 15px;
  border: #DDDDDD solid 5px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.bun{
  color: #222222;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 3px;
  line-height: 25px;
}

.container{
  margin-top: 2%;
}

.card{
  border: 0;
}

.sector{
  border-left: solid 10px #d8c850;
  background-color: #eeeeec;
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.box{
  margin-bottom: 40px;
  overflow: hidden;
}

li.conTitle{
  margin: 5px 5px 0 10px;
  float: left;
  background-color: #d8c850;
}

.boxContent{
  float: left;
  width: 48%;
  margin: 1%;
}

.mediaImage{
  float: left;
  margin-right: 10px;
}

.profile-box{
  margin-top: 10px;
  margin-bottom: 10px;
}

.name-box{
  text-align: center;
  position: relative;
}

.simei{
  font-size: 2.7em;
  font-weight: 500;
}

.syozoku{
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 5px;
}

.btn{
  margin-right: 10px;
}

.btn-orange{
  background-color: #fe9143;
}

.margin-0{
  margin: 0;
}

.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

.head-img{
  background-color: #000000;
  margin-bottom: 20%;
}

.head-img-works{
  background-color: #00053f;
  margin-bottom: 20%;
}

.copyrights{
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #FEFEFE;
  background-color: #30303a;
}

/* ここから メディアクエリ */
@media (min-width: 1200px){
  .site-logo{
    margin-top: 2%;
    width: 300px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin-top: 2%;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    height: 50px;
    border: solid #d4c965 2px;
    border-radius: 5px;
    background-color: #FEFEFE;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidemenu li a{
    float: left;
    display: block;
    border-left: dotted 1px #777777;
    padding: 5px;
    margin-left: 30px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }

  .boxContent{
    float: left;
    width: 48%;
    margin: 1%;
  }
  

  .tokopon{
    border: solid 2px #d4bf24;
    border-radius: 5px;
    margin: 40px 80px 40px 80px; 
  }

  .katagaki{
    font-size: 1.3em;
    font-weight: 300;
    background-color: #ffffff;
  }

  .namae{
    font-size: 1.8em;
    font-weight: 500;
    background-color: #e4e684;
  }

  .reseacherName{
    font-size: 2.6em;
    font-weight: 100;
    margin-left: 3px;
  }

  .researcher_e{
    float: left;
    width: 32%;
    height: 145px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 32%;
    height: 145px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .site-logo{
    margin-top: 2%;
    width: 250px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin-top: 2%;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    border: solid #d4c965 5px;
    border-radius: 5px;
    background-color: #FEFEFE;
    margin-top: 15px;
    margin-left: 80px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidemenu li a{
    display: block;
    padding: 5px;
    color: #666666;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }
  
  .sidemenu li a:hover{
    color: #FFFFFF;
    background: linear-gradient(-45deg, rgb(25, 131, 238), rgb(40, 36, 255));
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    margin-left: 30px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidemenu li a{
    display: block;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }

  .tokopon{
    border: solid 2px #d4bf24;
    border-radius: 5px;
    margin: 10px 80px 10px 80px; 
  }

  .katagaki{
    font-size: 1.3em;
    font-weight: 300;
    background-color: #ffffff;
  }

  .namae{
    font-size: 1.8em;
    font-weight: 500;
    background-color: #e4e684;
  }

  .reseacherName{
    font-size: 2em;
    font-weight: 100;
    margin-left: 3px;
  }

  .engName{
    font-size: 0.8em;
  }

  .researcher_e{
    float: left;
    width: 32%;
    height: 160px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 32%;
    height: 140px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .site-logo{
    width: 200px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin: 0;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    height: 50px;
    border: solid #d4c965 2px;
    border-radius: 5px;
    background-color: #FEFEFE;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .sidemenu li a{
    float: left;
    display: block;
    border-left: dotted 1px #777777;
    padding: 5px;
    margin-left: 30px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }

  .researcher_e{
    float: left;
    width: 32%;
    height: 200px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 32%;
    height: 125px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }

  .reseacherName{
    font-size: 2.0em;
    font-weight: 100;
    color: #000000;
  }

  .boxContent{
    float: left;
    width: 48%;
    margin: 1%;
  }  

  .tokopon{
    border: solid 2px #d4bf24;
    border-radius: 5px;
    margin: 10px 80px 10px 80px; 
  }

  .katagaki{
    font-size: 1.3em;
    font-weight: 300;
    background-color: #ffffff;
  }

  .namae{
    font-size: 1.8em;
    font-weight: 500;
    background-color: #252525;
    color: #EEEEEE;
  }
}

/* @media(min-width: 768px) and (max-width: 769px){
  #menubtn{
    display: none;
  }

  #menu{
    display: block!important;
    font-size: 0.8em;
    float: left;
    width: auto;
  }
} */

@media (max-width: 768px) {
  .site-logo{
    width: 200px;
  }

  #menubtn{
    padding: 6px 12px;
    border: solid #666666 3px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: -50px;
    right: 25px;
    cursor: pointer;
  }

  #menubtn:hover{
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn:focus{
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn i{
    font-size: 20px;
  }

  #menubtn span{
    display: inline-block;
    text-indent: -9999px;
  }

  .menu{
    display: none;
  }

  .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    /* margin-left: 80px; */
    height: 50px;
    border: solid #d4c965 2px;
    border-radius: 5px;
    background-color: #FEFEFE;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidemenu li a{
    float: left;
    display: block;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-left: dotted 1px #777777;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
  }

  .boxContent{
    float: left;
    width: 98%;
    margin: 1%;
  }

  .sector{
    font-size: 1.7em;
  }

  h2.Title{
    font-size: 1.3em;
  }

  h2.Title_Blue{
    font-size: 1.3em;
  }

  h3.miniTitle{
    font-size: 1em;
  }

  

  .tokopon{
    border: solid 2px #d4bf24;
    border-radius: 5px;
    margin: 10px 80px 10px 80px; 
  }

  .katagaki{
    font-size: 1.3em;
    font-weight: 300;
    background-color: #ffffff;
  }

  .namae{
    font-size: 1.8em;
    font-weight: 500;
    background-color: #e4e684;
  }

  .reseacherName{
    font-size: 2em;
    font-weight: 100;
  }

  .researcher_e{
    float: left;
    width: 45%;
    height: 180px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 45%;
    height: 160px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
}

@media (max-width: 500px) {
  .site-logo{
    width: 150px;
  }

  h1.jumboTitle{
    font-size: 2.3em;
    font-weight: 600;
  }

  p.lead{
    font-size: 0.7em;
  }

  .tokopon{
    margin: 10px 10px 10px 10px; 
  }

  .katagaki{
    font-size: 0.9em;
  }

  #menubtn{
    padding: 6px 12px;
    border: solid #666666 2px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: -40px;
    right: 15px;
    cursor: pointer;
  }

  #menubtn:hover{
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn:focus{
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn i{
    font-size: 15px;
  }

  #menubtn span{
    display: inline-block;
    text-indent: -9999px;
  }

  .menu{
    display: none;
  }

  .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    height: 80%;
    border: solid #d4c965 2px;
    border-radius: 5px;
    background-color: #FEFEFE;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
  }
  
  .sidemenu li a{
    display: block;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }

  .boxContent{
    float: left;
    width: 98%;
    margin: 1%;
  }

  .sector{
    font-size: 1.3em;
  }

  h2.Title{
    font-size: 1em;
  }

  .reseacherName{
    font-size: 2em;
    font-weight: 100;
  }

  .researcher_e{
    float: left;
    width: 99%;
    height: 170px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 98%;
    height: 160px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
}
/* ここまで メディアクエリ */

/* ここまで 共通部分 */

/* ここから index.html */

.slide{
  height: 70%;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  text-align: center;
}

.slide img{
}

/* ここまで index.html */

/* ここから about.html */
a:hover{
  text-decoration: none!important;
}

.sidemenu li a{
  color: #666666;
}

.sidemenu li a:hover{
  color: #FFFFFF;
  background: linear-gradient(-45deg, rgb(25, 131, 238), rgb(40, 36, 255));
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.sidemenuActive{
  color: #FFFFFF;
  background: linear-gradient(-45deg, rgba(25, 131, 238, 0.521), rgba(40, 36, 255, 0.507));
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.eduinfo-detailBunner{
  width: 100%;
  height: 80px;
  background-image: url("../img/bunner_sample.png");
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.eduspace-detailBunner{
  width: 100%;
  height: 80px;
  background-image: url("../img/sample.png");
  background-color: rgba(0, 0, 0, 0.3);
}

.researcher-detailBunner{
  width: 100%;
  height: 80px;
  background-image: url("../img/bunner_sample.png");
  background-color: rgba(0, 0, 0, 0.3);
}

.eduinfo-detailBunner :hover{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.eduspace-detailBunner :hover{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.researcher-detailBunner :hover{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

p.detailBunnerText{
  padding-top: 20px;
  color: #EEEEEE;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
}




/* ここまで about.html */

/* ここから researcher.html */
.smallTitleElec{
  padding: 5px 0 5px 10px;
  background: linear-gradient(-45deg, rgba(248, 21, 78, 0.2), rgba(255, 211, 16, 0.6));
}

.smallTitleInfo{
  padding: 5px 0 5px 10px;
  background: linear-gradient(-45deg, rgba(21, 233, 248, 0.2), rgba(16, 100, 255, 0.6));
}

/* .researcher_e{
  float: left;
  width: 32%;
  height: 125px;
  margin: 5px 5px 5px 5px;
  padding: 0 0 5px 0;
  border-left: #ffde22 solid 10px;
  background:rgba(238, 238, 238, 0.8);
} */

.researcher_e:hover > .reseacherName{
  color: #d3b301;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* .researcher_j{
  float: left;
  width: 32%;
  height: 125px;
  margin: 5px 5px 5px 5px;
  padding: 0 0 5px 0;
  border-left: #22aeff solid 10px;
  background:rgba(238, 238, 238, 0.8);
} */

.researcher_j:hover > .reseacherName{
  color: #0190d3;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

small.engName{
  font-size: 0.9em;
  margin-left: 10px;
  font-weight: 500;
}

.jobTitle{
  font-size: 1em;
  font-weight: 500;
  margin-left: 3px;
}

.reseacherName small{
  font-size: 0.5em;
  font-weight: 400;
}

.controllBox{
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  background-color: #424242;
}

.controllBox .btn{
  font-weight: 500;
}

span.badge{
  margin-left: 5px;
}

/* ここまで researcher.html */

/* ここから admission.html */

h2.sSector{
  color: rgb(92, 89, 89);
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 25px;
  /* border-radius: 5px; */
  background: linear-gradient(-45deg, rgba(129, 241, 185, 0), #fcf190);
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
}

.redpin{
  margin: 0 5px 0 10px; 
  color: #f84848;
}

.bluepin{
  margin: 0 5px 0 10px; 
  color: #48a3f8;
}

.month1{
  font-size: 1.2em;
  font-weight: 600;
  color: #474747;
  width: 100%;
  padding-left: 5px;
  position: relative;
  background-color:  #d0f783;
  border-radius: 5px;
  /* border: solid 2px #888888; */
}

.month2{
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  padding-left: 5px;
  position: relative;
  background-color: #67d6f1;
  border-radius: 5px;
  /* border: solid 2px #888888; */
}

.month3{
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  padding-left: 5px;
  position: relative;
  background-color: #ffa292;
  border-radius: 5px;
  /* border: solid 2px #888888; */
}

.month4{
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  padding-left: 5px;
  position: relative;
  background-color: #98adc5;
  border-radius: 5px;
  /* border: solid 2px #888888; */
}

.calender{
  margin-top: 20px;
  height: 120%;
  border-bottom: dotted 2px #898989; 
}

.answer{
  background: rgb(236, 235, 235);
  border-radius: 5px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  padding-left: 5px; 
}

.chartContent{
  position: relative;
  /* width: 80vw; */
  height: 50vh;
  margin-left: 10px;
}

.chartContentBar{
  position: relative;
  width: 100%;
  height: 50vh;
}

.chartContent1{
  display: inline-block;
  position: relative;
  width: 45%;
  height: 50vh;
  margin-left: 10px;
}

.chartContent2{
  margin-left: 20px;
  display: inline-block;
  position: relative;
  width: 45%;
  height: 50vh;
}

/* ここまで admission.html */

.header{
  padding: 10px 10px;
  border-bottom: solid 2px #EFCE00;
}

.news,.event{
  margin-top: 15px;
}

/* TOP */
.news h2{
  border-left: solid #EFCE00 5px;
  color: #666666;
  font-weight: 700;
  padding-left: 8px;
  font-size: 1.8em;
}

.news ul{
  margin:-bottom: 10px;
  padding: 10px;
  list-style: none;
  border: dashed #EFCE00 2px;
}

.news li{
  margin-top: 5px;
}

.news li a{
  display: block;
  margin-top: 5px;
  padding: 5px;
  font-size: 1.1em;

  color: #2c2c2c;
  text-decoration: none;

  border-bottom: dashed 2px;
}

.news li a:hover{
  color: #a79011;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news time{
  font-size: 1.3em;
  color: #FFFFFF;
  font-weight: 600;
  padding: 2px;
  background-color: #a79011;
}

.event h2{
  border-left: solid #88c214 5px;
  color: #666666;
  font-weight: 700;
  padding-left: 8px;
  font-size: 1.8em;
}

.event ul{
  margin-bottom: 10px;
  padding: 10px;
  list-style: none;
  border: dashed #88c214 2px;
}

.event li{
  margin-top: 5px;
}

.event li a{
  display: block;
  margin-top: 5px;
  padding: 5px;
  font-size: 1.1em;

  color: #2c2c2c;
  text-decoration: none;

  border-bottom: dashed 2px;
}

.event li a:hover{
  color: #a79011;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.event time{
  font-size: 1.3em;
  color: #1f1f1f;
  padding: 2px;
  background-color: #88c214;
  font-weight: 600;
}

.jumbotron{
  background-image: url("../img/bg1.jpg");
}

h1.jumboTitle{
  color: #323232;
  background-color: rgba(233, 233, 233, 0.925);
  font-weight: 500;
}

.jumbotron > .container > p.lead{
  color: #FFFFFF;
  background-color: rgba(30, 30, 30, 0.8);
}

/* ここからnews, event.html */
h3.newsDate{
  margin: 20px 0 20px 20px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #e0e0e0;
  border-left: solid 5px #d3b301;
  color: #141414;
}

h2.newsTitle{
  margin: 50px 0 50px 60px;
  font-size: 2em;
  font-weight: 600;
  color: #111111; 
}

.newsTitleBox{
  border-bottom: solid 3px #333333;
  margin-bottom: 20px;
}