/* ここから 共通部分 */

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
  background-color: #FFFFFF;
}

body{
  width: 100%;
  margin: 0;
  
}

h2{
  font-size: 1.5em;
}

a{
  text-decoration: none
}

.quick-link{
  position: fixed;
  right: 0;
  top: 0;
  background-color:rgba(40, 40, 40, 0.4);
  text-align: center;
}

.quick-text{
  padding-top: 10px;
  color: #2a2a2a;
  font-size: 1.2em;
}

.wrapper{
  background-color: #FFFFFF;
}

.site-logo{
  width: 50%;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.site-logo:hover{
  /* background-color: rgba(255,255,255,20); */
  opacity: 0.4;
}

.top-link{
  float: right;
  position: relative;
}

.nav-zone{
  height: 20%;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 5px;
}

.nav-zone{
  font-size: 2em;
}

.nav-col{
  color: rgb(56, 56, 54);
  background-color: #DDDDDD;
  border: solid 3px #DDDDDD;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-col-B{
  color: rgb(213, 255, 27);
  border: solid 3px #111111;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-col-C{
  color: rgb(36, 186, 255);
  border: solid 3px #111111;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-col:hover{
  color: #2c2c2c;
  background: #faf171;
  text-decoration: none;
}

.nav-col-B:hover{
  color: #111111;
  background: #e9e9e9;
  text-decoration: none;
}

.nav-col-C:hover{
  color: #111111;
  background: #e9e9e9;
  text-decoration: none;
}


h2.subtitle{
  background-color: #EEEEEE;
  color: #232340;
  margin-bottom: 1%;
}

.bun{
  color: #333333;
  letter-spacing: 5px;
}

.container{
  margin-top: 2%;
}

.card{
  border: 0;
}

.sector{
  border-left: solid 5px #d4bf24;
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 20px;
  padding-left: 10px;
}

.box{
  margin-bottom: 40px;
}

.profile-box{
  margin-top: 10px;
  margin-bottom: 10px;
}

.name-box{
  text-align: center;
  position: relative;
}

.simei{
  font-size: 2.7em;
  font-weight: 500;
}

.syozoku{
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 5px;
}

.btn{
  margin-right: 10px;
}

.btn-orange{
  background-color: #fe9143;
}

.margin-0{
  margin: 0;
}

.noto100 {font-weight:100;}
.noto300 {font-weight:300;}
.noto400 {font-weight:400;}
.noto500 {font-weight:500;}
.noto700 {font-weight:700;}
.noto900 {font-weight:900;}

.head-img{
  background-color: #000000;
  margin-bottom: 20%;
}

.head-img-works{
  background-color: #00053f;
  margin-bottom: 20%;
}

.copyrights{
  font-size: 0.8em;
  letter-spacing: 0.5em;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #CECECE;
}

/* ここから メディアクエリ */
@media (min-width: 1200px){
  .site-logo{
    margin-top: 2%;
    width: 300px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin-top: 2%;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .site-logo{
    margin-top: 2%;
    width: 250px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin-top: 2%;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }


}

@media (min-width: 769px) and (max-width: 991px){
  .site-logo{
    width: 200px;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin: 0;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }


}

@media (max-width: 768px) {
  .site-logo{
    width: 200px;
  }

  #menubtn{
    padding: 6px 12px;
    border: solid #666666 3px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: -40px;
    right: 25px;
    cursor: pointer;
  }

  #menubtn:hover{
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn:focus{
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn i{
    font-size: 20px;
  }

  #menubtn span{
    display: inline-block;
    text-indent: -9999px;
  }

  .menu{
    display: none;
  }

  .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }



}

@media (max-width: 500px) {
  .site-logo{
    width: 150px;
  }

  #menubtn{
    padding: 6px 12px;
    border: solid #666666 2px;
    border-radius: 2px;
    background-color: #FFFFFF;
    position: absolute;
    top: -40px;
    right: 15px;
    cursor: pointer;
  }

  #menubtn:hover{
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn:focus{
    outline: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  #menubtn i{
    font-size: 15px;
  }

  #menubtn span{
    display: inline-block;
    text-indent: -9999px;
  }

  .menu{
    display: none;
  }

  .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu li a{
    display: block;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.2em;
    
    color: #545454;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
/* ここまで メディアクエリ */

/* ここまで 共通部分 */

/* ここから index.html */

.slide{
  height: 70%;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  text-align: center;
}

.slide img{
}

/* ここまで index.html */

/* ここから profile.html */

.profile-area{
  padding-top: 3%;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.1);
}

.name{
  font-size: 3em;
  color: #EEEEEE;
  font-weight: 200;
}

.intro{
  font-size: 2em;
  color: #CECECE;
  font-weight: 200;
  margin-left: 25%;
}



td.head{
  font-size: 0.6em;

}

.col1{
  width: 25%;
}

.col2{
  width: 25%;
}

/* ここまで profile.html */
.header{
  padding: 10px 10px;
  border-bottom: solid 2px #EFCE00;
}

.news,.event{
  margin-top: 15px;
}

/* TOP */
.news h2{
  border-left: solid #EFCE00 3px;
  color: #666666;
  font-weight: 700;
  padding-left: 8px;
  font-size: 1.8em;
}

.news ul{
  margin: 0;
  padding: 10px;
  list-style: none;
  border: dashed #EFCE00 2px;
}

.news li a{
  display: block;
  padding: 5px;
  font-size: 1.1em;

  color: #2c2c2c;
  text-decoration: none;

  border-bottom: dashed 2px;
}

.news li a:hover{
  color: #EE3333;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.news time{
  color: #777777;
  font-weight: 600;
}

.event h2{
  border-left: solid #AAFC00 3px;
  color: #666666;
  font-weight: 700;
  padding-left: 8px;
  font-size: 1.8em;
}

.event ul{
  margin: 0;
  padding: 10px;
  list-style: none;
  border: dashed #AAFC00 2px;
}

.event li a{
  display: block;
  padding: 5px;
  font-size: 1.1em;

  color: #2c2c2c;
  text-decoration: none;

  border-bottom: dashed 2px;
}

.event li a:hover{
  color: #EE3333;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.event time{
  color: #777777;
  font-weight: 600;
}