html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")
    script(type="text/javascript", src="/js/jquery.csv.js")
    script(type="text/javascript", src="/js/csvload.js")
    script(type="text/javascript", src="/js/template.js")
    
    //-ページタイトル
    title 在学生・卒業生の方へ(コース分け) | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        #header
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle
              i.fa.fa-graduation-cap.titleIcon
              | 在学・卒業生の方へ
            p.lead 在学・卒業生向けコンテンツを掲載しています。     
      .container-fluid.back
        .row
          .col-lg-1
          .col-lg-10.col-md-12.col-sm-12.main
            .sector コース分けについて
            .box
              .boxContent
                h2.Title 概要
                p.bun 電気情報工学科では、第3学年で電気電子工学(E)コース・情報工学(J)コースに分かれてより専門的な授業を行います。
                  | コース分けによって、第4学年からはコース別に受講する授業がそれぞれ変わります。さらに第5学年になると選択授業が1週間の
                  | 大半を占めることになりますが、コースによって選べる授業が異なります。
                h2.Title 研究室配属について
                p.bun 研究室は電気系研究室と、情報系研究室がありますが、研究室配属の際に選択できる研究室に制限はありません。Eコースでも情報系研究室、
                  | Jコースでも情報系研究室に入ることが出来ます。
              .boxContent
                h2.Title コースの違い
                p.bun 各コースの違いは以下のような点があります。
                .answer 第4学年後期の実験がコース別になる
                .answer 第4学年は各コースそれぞれ専門の分野を受講する
                .answer 第5学年はEコースは全ての選択授業を受講できるが、Jコースは一部電気分野の授業を受講できない
                p.bun やりたいことを考えて選ぶのが一番大事ですが、もし仮にEコースに行った場合でも情報の授業は受けられます。
                  | Jコースは一部の電気分野の授業は受けられませんが、第4学年でEコースが受けていた授業も選択授業として受けることが出来ます。
                  br
                  | 但し、実験に関しては異なるので注意です。第4学年でEコースは電動機・発電機を用いた強電実験、JコースはJava等を用いた情報
                  | 実験となります。第5学年は研究室対抗のコンテストになりますが、そこでも電気系研究室、情報系研究室に分かれて行います。
                  | ただ、コース別ではなく電気系研究室、情報系研究室で分かれて別の実験（コンテスト）を行います。
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering