<div class="row header">
  <div class="col-lg-4 col-md-3 col-xs-8"><a href="/index.html"><img class="site-logo" src="/img/main_logo.png" alt="岐阜高専 電気情報工学科"></a></div>
  <div class="col-lg-8 col-md-9 col-xs-4">
    <button id="menubtn" type="button"><i class="fa fa-bars"></i><span>MENU</span></button>
    <nav class="menu" id="menu">
      <ul>
        <li><a href="/contents/about.html">学科案内</a></li>
        <li><a href="/contents/admission/charactor.html">入学希望の方へ</a></li>
        <li><a href="/contents/student.html">在学・卒業生の方へ</a></li>
        <li><a href="/contents/company.html">企業の方へ</a></li>
        <li class="backToTop"><a href="http://www.gifu-nct.ac.jp">岐阜高専<br>TOP</a></li>
      </ul>
    </nav>
  </div>
</div>