<div class="row header">
  <div class="col-lg-3 col-md-3 col-xs-8"><a href="/elec/index.html"><img class="site-logo" src="/elec/img/main_logo.png" alt="岐阜高専 電気情報工学科"></a></div>
  <div class="col-lg-9 col-md-9 col-xs-4">
    <button id="menubtn" type="button"><i class="fa fa-bars"></i><span>MENU</span></button>
    <nav class="menu" id="menu">
      <ul>
        <li><a href="/elec/contents/about.html"> <i class="fa fa-caret-right titleIcon"></i>学科案内</a></li>
        <li><a href="/elec/contents/admission/charactor.html"><i class="fa fa-caret-right titleIcon"></i>入学希望の方へ</a></li>
        <li><a href="/elec/contents/student.html"><i class="fa fa-caret-right titleIcon"></i>在学・卒業生の方へ</a></li>
        <li><a href="/elec/contents/company.html"><i class="fa fa-caret-right titleIcon"> </i>企業の方へ</a></li>
        <li class="backToTop"><a href="http://www.gifu-nct.ac.jp"> <i class="fa fa-caret-right titleIcon"></i>岐阜高専TOP</a></li>
      </ul>
    </nav>
  </div>
</div>