.row.header
  .col-lg-3.col-md-3.col-xs-8
    a(href="/index.html")
      img.site-logo(src="/img/main_logo.png", alt="岐阜高専 電気情報工学科")
  .col-lg-9.col-md-9.col-xs-4
    button#menubtn(type="button")
      i.fa.fa-bars
      span MENU
    nav.menu#menu
      ul
        li
          a(href="../about.html") 
            i.fa.fa-caret-right.titleIcon
            | 学科案内
        li
          a(href="../admission/charactor.html")
            i.fa.fa-caret-right.titleIcon
            | 入学希望の方へ
        li
          a(href="../student.html")
            i.fa.fa-caret-right.titleIcon
            | 在学・卒業生の方へ
        li
          a(href="../company.html")
            i.fa.fa-caret-right.titleIcon 
            | 企業の方へ
        li.backToTop
          a(href="http://www.gifu-nct.ac.jp") 
            i.fa.fa-caret-right.titleIcon
            | 岐阜高専TOP