ul
  li.conTitle
    i.fa.fa-lightbulb
    | &nbsp;Contents
  li.sidemenuActive
    a(href="/elec/contents/admission/charactor.html") 
      i.fa.fa-chevron-circle-right 
      | &nbsp;高専の特徴
  li
    a(href="/elec/contents/admission/schoollife.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;電気情報工学科の良さ                
  li
    a(href="/elec/contents/admission/realvoice.html")
      i.fa.fa-chevron-circle-right
      | &nbsp;E科生に聞いてみました！