ul
  li.conTitle
    i.fa.fa-lightbulb
    | &nbsp;Contents
  li
    a(href="/elec/contents/about.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;学科概要
  li
    a(href="/elec/contents/about/history.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;沿革
  li
    a(href="/elec/contents/about/eduinfo.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;教育内容
  li
    a(href="/elec/contents/about/eduspace.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;教育設備
  li
    a(href="/elec/contents/about/researcher.html")
      i.fa.fa-chevron-circle-right 
      | &nbsp;研究室紹介