html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")
    script(type="text/javascript", src="/js/template.js")

    //-ページタイトル
    title 入学希望の方へ | 岐阜高専 電気情報工学科
  body
    .wrapper.animated.fadeIn
      .container-fluid
        #header
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle
              i.fa.fa-graduation-cap.titleIcon
              | 入学希望の方へ
            p.lead 高専とは何か、ということから学生生活まで幅広くご紹介します
      .container-fluid.back
        .row
          .col-lg-1
          .col-lg-10.col-md-12.col-sm-12
            aside.sidemenu
              ul
                li.conTitle
                  i.fa.fa-lightbulb
                  | &nbsp;Contents
                li.sidemenuActive
                  a(href="/contents/admission/charactor.html") 
                    i.fa.fa-chevron-circle-right 
                    | &nbsp;高専の特徴
                li
                  a(href="/contents/admission/schoollife.html")
                    i.fa.fa-chevron-circle-right 
                    | &nbsp;電気情報工学科の良さ                
                li
                  a(href="/contents/admission/realvoice.html")
                    i.fa.fa-chevron-circle-right
                    | &nbsp;E科生に聞いてみました！
        .row
          .col-lg-1
          .col-lg-10.col-md-12.col-sm-12.main
            //- ol.breadcrumb
            //-   //- li.breadcrumb-item
            //-   //-   a(href="../index.html") ホーム
            //-   //- li.breadcrumb-item.active(aria-current="page") 学科案内
            .sector
              i.fa.fa-chart-bar &nbsp;高専の特徴
            .box
              h2.Title
                i.fa.fa-map-pin.bluepin 
                | &nbsp;「高校とも大学とも違う」と言われる要因
              p.bun 高専は「高校とも大学とも違う学校」とよく言われます。なぜそういわれるのか理由は以下にあります。
              .box
                .boxContent
                  h3.miniTitle ① 授業・テストの形式は大学に近い！
                  img.img-fluid(src="/img/admission/sche.jpg", alt="")
                  p.bun 高専の授業は、朝9:00始業で1コマ90分という大学に近い形式になります。中学から高専に上がると「90分長すぎ！」
                    | と思うかもしれませんが、そのうち慣れてきます。また、1日に4限までしかないので、場合によっては2時半に授業が
                    | 終わる週があるかもしれません。
                    br
                    | また、成績の付け方も大学に近く、殆どが授業で出される課題と、年4回の定期試験で決まります。それらが総合されて
                    | 10段階評価で成績は付けられますが、学年末の平均評定が6以上を取れなかった場合不合格となり、次学年へは仮進級となるので
                    | しっかり勉強する習慣を持った方がいいと思います！
                    br
                    | そして、カリキュラムも高校と違います。特に違いがはっきりしているのは数学です。
                    | 高校数学は基本、数学I、A、II、B、III、Cという順で受けると思いますが、高専は、専門科目に必要な知識を先行して付けていくので、
                    | 三角比などがいきなり最初に来ていたりします。逆に、専門科目で使わないような分野は切り捨てられているため、より実践的に学ぶことが
                    | 出来ます。
                .boxContent
                  h3.miniTitle ② クラスは5年間ずっと一緒！
                  img.img-fluid(src="/img/admission/myclass.png")
                  p.bun 岐阜高専では、1学年各学科1クラスとなっており、大体1クラス40人となっています。クラス単位で授業を受けたり、球技大会などに参加
                    | するのは、高校に近いかもしれません。また、5年間クラス替えは一切ないので、割と仲がいいクラスが多いです。
              .box
                .boxContent
                  h3.miniTitle ③ 制服はありません！
                  img.img-fluid(src="/img/admission/sifuku.jpg")
                  p.bun こちらも大学に近いかもしれませんが、岐阜高専では1年生から私服で登校します。体育などで使うジャージなどは学校指定のものがありますが
                    | 基本服装は自由です。また入学式等の服装は、中学校の制服でも大丈夫です（大半はそうです）。もちろんスーツなどでも構いません。ですがその次の日
                    | からはもう私服登校です。
                .boxContent
                  h3.miniTitle ④ 高専祭・専門展というイベントがあります！
                  img.img-fluid(src="/img/admission/kosensai.jpg")
                  p.bun 岐阜高専では、毎年10月下旬に「高専祭」という文化祭があります。文化祭は他の高校や大学等でもあるかもしれませんが、
                    | 高専祭独自のイベントとして、「専門展」というものがあります。専門展は各学科第4学年の学生が、今までで培った知識や技術を利用し、テーマを決めてその技術を紹介する
                    | イベントです。毎年工夫を凝らした作品が数多く展示され、外部の方からも高い評価をいただいています。
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering