html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")
    //-ページタイトル
    title 入学希望の方へ | 岐阜高専 電気情報工学科
  body
    .wrapper.animated.fadeIn
      .container-fluid
        .row.header
          .col-lg-4.col-md-3.col-xs-8
            a(href="/index.html")
              img.site-logo(src="../img/main_logo.png", alt="岐阜高専 電気情報工学科")
          .col-lg-8.col-md-9.col-xs-4
            button#menubtn(type="button")
              i.fa.fa-bars
              span MENU
            nav.menu#menu
              ul
                li
                  a(href="./about.html") 学科案内
                li
                  a(href="./admission.html") 入学希望の方へ
                li
                  a(href="./student.html") 在学・卒業生の方へ
                li
                  a(href="./company.html") 企業の方へ
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle 入学希望の方へ
            p.lead 高専とは何か、ということから学生生活まで幅広くご紹介します
      .container-fluid.back
        .row
          .col-lg-3.col-md-12.col-sm-12
            aside.sidemenu
              ul
                li
                  a(href="#") 高専の特徴
                li
                  a(href="#") 電気情報工学科での5年間                
                li
                  a(href="#") E科生に聞いてみました！
          .col-lg-6.col-md-12.col-sm-12.main
            //- ol.breadcrumb
            //-   //- li.breadcrumb-item
            //-   //-   a(href="../index.html") ホーム
            //-   //- li.breadcrumb-item.active(aria-current="page") 学科案内
            .sector
              i.fa.fa-chart-bar &nbsp;高専の特徴
            .box
              h2.Title
                i.fa.fa-map-pin.bluepin 
                | &nbsp;「高校とも大学とも違う」と言われる要因
              p.bun 高専は「高校とも大学とも違う学校」とよく言われます。なぜそういわれるのか理由は以下にあります。
              h3 ① 授業・テストの形式は大学に近い！
              p.bun 高専の授業は、朝9:00始業で1コマ90分という大学に近い形式になります。中学から高専に上がると「90分長すぎ！」
                | と思うかもしれませんが、そのうち慣れてきます。また、1日に4限までしかないので、場合によっては2時半に授業が
                | 終わる週があるかもしれません。
                br
                | また、成績の付け方も大学に近く、殆どが授業で出される課題と、年4回の定期試験で決まります。それらが総合されて
                | 10段階評価で成績は付けられますが、学年末の平均評定が6以上を取れなかった場合不合格となり、次学年へは仮進級となるので
                | しっかり勉強する習慣を持った方がいいと思います！
                br
                | そして、カリキュラムも高校と違います。特に違いがはっきりしているのは数学です。
                | 高校数学は基本、数学I、A、II、B、III、Cという順で受けると思いますが、高専は、専門科目に必要な知識を先行して付けていくので、
                | 三角比などがいきなり最初に来ていたりします。逆に、専門科目で使わないような分野は切り捨てられているため、より実践的に学ぶことが
                | 出来ます。
              h3 ② クラスは5年間ずっと一緒！
              p.bun 岐阜高専では、1学年各学科1クラスとなっており、大体1クラス40人となっています。クラス単位で授業を受けたり、球技大会などに参加
                | するのは、高校に近いかもしれません。また、5年間クラス替えは一切ないので、割と仲がいいクラスが多いです。
              h3 ③ 制服はありません！
              p.bun こちらも大学に近いかもしれませんが、岐阜高専では1年生から私服で登校します。体育などで使うジャージなどは学校指定のものがありますが
                | 基本服装は自由です。また入学式等の服装は、中学校の制服でも大丈夫です（大半はそうです）。もちろんスーツなどでも構いません。ですがその次の日
                | からはもう私服登校です。
              h3 ④ 学生食堂・売店があります！
              p.bun 学校内には、学生食堂や売店があります。学生食堂は安くて量も多いのでとてもコスパが高いです！また、売店ではお菓子や飲料のほかにも
                | レポート用紙やペンなどの文具も売っているので、もしもの時も安心です。
            .sector 
              i.fa.fa-chart-bar &nbsp;電気情報工学科での5年間
            .box
              h2.Title 
                i.fa.fa-map-pin.redpin 
                | &nbsp;早くから専門的分野に触れることができる！
              p.bun 高等専門学校、略して「高専」は、高校でもなく、大学でもない、5年制の学校です。
                | 中学3年間の義務教育を終えて、すぐに始まる5年間の生活。長いようにも思えますが、意外とあっという間に過ぎていきます。
                | そして電気・情報系の専門科目も1年生から順次スタートしていきます。もちろん最初は基礎的な内容を学習しますが、
                | 学年が上がるごとにさらに深い内容を学習することができ、大学1年生相当の年齢でかなり多くの知識を身に付けられるのが、高専の良さです。
            .box
              h2.Title
                i.fa.fa-map-pin.redpin &nbsp;
                | 高専生としての1年
              .row
                .col-sm-4
                  .month1 4月
                  ul
                    li 入学式
                    li 健康診断 
                    li 校内見学(1年生のみ) 
                    li クラブ登録 
                .col-sm-4
                  .month1 5月
                  ul
                    li 球技大会 
                .col-sm-4
                  .month1 6月
                  ul 
                    li 前期中間試験 
              .row
                .col-sm-4
                  .month2 7月
                  ul
                    li 前期期末試験
                .col-sm-4
                  .month2 8月
                  ul
                    li 前期期末試験
                    li オープンキャンパス
                    li インターンシップ
                    li 夏季休業 
                .col-sm-4
                  .month2 9月
                  ul
                    li 夏季休業
                    li インターンシップ
              .row
                .col-sm-4
                  .month3 10月
                  ul
                    li 球技大会
                    li 高専ロボコン 地区大会
                    li 高専プロコン 本戦 
                    li 高専祭・専門展
                .col-sm-4
                  .month3 11月
                  ul
                    li 研修旅行（3・4年)
                    li デザコン
                    li 卒業研究中間発表会
                .col-sm-4
                  .month3 12月
                  ul
                    li 後期中間試験
              .row
                .col-sm-4
                  .month4 1月
                  ul
                    li 3年生到達度試験
                .col-sm-4
                  .month4 2月
                  ul
                    li 後期期末試験
                    li 卒業研究発表会
                .col-sm-4
                  .month4 3月
                  ul
                    li 卒業式・修了式
              h2.Title
                i.fa.fa-map-pin.redpin 
                | &nbsp;魅力的な実験・実習があります！
              img.img-fluid(src="/img/sample.png", alt="")
            .sector 
              i.fa.fa-comments &nbsp;E科生に聞いてみました！
            .box
              p.bun よりリアルなこの学科と学生生活をお伝えするために、今回のHP更新に伴って、アンケートを行いました。
                | 
              h2.Title_Blue 今回アンケートに協力してもらった学生の内訳
              .chartContent1
                canvas#Class
              .chartContent2
                canvas#Gender
              p.bun 今回はH29年度の電気情報工学科の学生の中で120人に回答していただきました。
            .box
              h2.Title_Blue Q1. なぜ電気情報工学科を選びましたか？
              .answer 電気（情報系）に興味があったから
              .answer プログラミングを学べるから、したいと思ったから
              .answer オープンキャンパスで面白そうだと思ったから
              .answer 電気関係の仕事をしてみたいと思ったから、就職率が高いから
              .answer なんとなく
              p.bun 一番多かった回答はやはり電気や情報に興味があり、この学科を選んだという意見でした
                | 中学生卒業後から、専門的な内容が真っ先に学べるという点は高専の最大の利点だと思います。
                | また、オープンキャンパスや高専祭の専門展でこの学科を知った人もいたので、まだ行ったことない人は
                | 是非お越しください！
            .box
              h2.Title_Blue Q2. 入学時に困ったことは何かありましたか？
              .answer どうやって勉強すればいいかわからなかった
              .answer 電気情報(E)と電子制御(D)の違いがわからなかった
              .answer 低学年は専門科目が少なかった
              .answer 通学が大変だった
              .answer 実質電気科だったこと
              p.bun 定番の内容が並んだと思います。特にEとDの違い分からないという質問は毎年発生します。
                | 電気情報工学科は電気回路や電子回路、そして情報工学の内容をミックスさせた学科で、情報に関して言えば、
                | コンピュータ内で完結するようなもの（ソフトウェア）を作成するようなイメージです。一方電子制御工学科は、
                | プログラミングをして何かを動かしたりするようなハードウェアにつながる場合が多いです。もっとわかりやすい説明
                | は学校説明会など、定期的に開催しており、また体験入学なども行っておりますのでそちらで確認していただければと思います。
            .box
              h2.Title_Blue Q3. あなたが選択したい（した）専攻コースはどちらですか？
              .chartContent
                canvas#Course
              p.bun 3年生の終わりにコース分けがあり、そこで自分が学びたいコースを選択し、さらに深く知識を身に付けていくことになりますが、
                | 大体情報工学コースの人気が高くなります。しかし、情報工学コース：15名、電気電子工学コース：25名と定員が決まっているため、
                | 希望通りにいくとは限りません。あふれた場合は実践技術単位という制度で順番が決まります。
            .box
              h2.Title_Blue Q4. あなたが持っている資格を教えてください
              .chartContentBar
                canvas#License
              p.bun 先程説明した「実践技術単位」に関係するのですが、実践技術単位は各種資格検定を合格すると付与されるものです（他にも付与される条件があります）。単位数はそれぞれに
                | 設定されているので、学生はそれを見て「どれを取れば得だろう...」みたいなことを考えます。取りやすいのは英検、漢検、数検等の検定です。
                | それに加えてアマチュア無線、危険物などは多くの人が受験します。またTOEICは3年生の時点で一度一斉受験が行われ、その時の点数も
                | 反映することが出来ます。さらに情報系では必須ともいわれる「基本情報技術者試験」も多くの学生が受験しています。
            .box
              h2.Title_Blue Q5. 現在どのようなことに興味がありますか？
              .answer プログラミングをすること
              .answer ゲーム制作
              .answer アプリ開発
              .answer 音楽制作
              .answer ディープラーニングや人工知能
              .answer 電動機や発電機（モータ）
              p.bun 電気情報工学科といえど、やはり情報系の人気は高く、プログラミングに関連する内容が今回のアンケートでは上位に来ています。
                | ゲーム制作やアプリ開発などをやりたい学生がとても多かったのですが、学校ではプログラミングの基礎が学べるだけで、本当に自分が作りたいものは、
                | 自分で勉強して作っていかなければなりません。ですが興味とやる気さえあれば、色々なことを開拓できるスキルが身につくのも高専の魅力だと思います。
            .box
              h2.Title_Blue Q6. 高専に入ってよかったと思うことは何ですか？
              .answer 同じ趣味の人が多い
              .answer 休みが多い
              .answer 学校が楽しい
              .answer やりたいことが出来る
              .answer 専門科目が先取りできること
              p.bun やはりアニメやゲームなどの趣味、好きなものが近い人が多く集まるので、自然と会話も広がっていきます。また休みも高校よりは断然長く、自由な時間が多いのは高専の醍醐味です。
      script(type="text/javascript", src="/js/mychart.js")
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering