html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")
    script(type="text/javascript", src="/js/template.js")

    //-ページタイトル
    title 入学希望の方へ | 岐阜高専 電気情報工学科
  body
    .wrapper.animated.fadeIn
      .container-fluid
        #header
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle
              i.fa.fa-graduation-cap.titleIcon
              | 入学希望の方へ
            p.lead 高専とは何か、ということから学生生活まで幅広くご紹介します
      .container-fluid.back
        .row
          .col-lg-1
          .col-lg-10.col-md-12.col-sm-12.main
            .sector
              i.fa.fa-chart-bar &nbsp;コンテンツ一覧
            .box
              a(href="/contents/admission/charactor.html")
                img.contentsImg(src="/img/admission/schoollife.png")
              a(href="/contents/admission/schoollife.html")
                img.contentsImg(src="/img/admission/charactor.png")
              a(href="/contents/admission/realvoice.html")
                img.contentsImg(src="/img/admission/realvoice.png")
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering