html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")

    //-ページタイトル
    title 企業の方へ | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        .row.header
          .col-lg-4.col-md-3.col-xs-8
            a(href="/index.html")
              img.site-logo(src="/img/main_logo.png", alt="岐阜高専 電気情報工学科")
          .col-lg-8.col-md-9.col-xs-4
            button#menubtn(type="button")
              i.fa.fa-bars
              span MENU
            nav.menu#menu
              ul
                li
                  a(href="/contents/about.html") 学科案内
                li
                  a(href="/contents/admission.html") 入学希望の方へ
                li
                  a(href="/contents/student.html") 在学・卒業生の方へ
                li
                  a(href="/contents/company.html") 企業の方へ
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle
              i.fa.fa-building.titleIcon
              | 企業の方へ
            p.lead 電気情報工学科へのお問い合わせ等の情報を掲載しています
      .container-fluid.back
        .row
          .col-lg-1.col-md-12.col-sm-12
          .col-lg-10.col-md-12.col-sm-12.main
            .sector 採用担当の方へ
            .box
              p.bun 電気情報工学科を平成31年3月に修了・卒業見込みの学生の、求人関係の受付方法は下記リンクをご覧ください。
              a.btn.btn-primary(href="http://www.gifu-nct.ac.jp/gakka/kyujin.html")
                i.fa.fa-external-link-alt.titleIcon
                | 修了予定者への求人依頼案内
            .sector 共同研究について
            .box 
              p.bun 電気情報工学科及び岐阜高専では、共同研究、技術相談などを受け付けております。
                | 共同研究などに関する相談は，岐阜高専地域技術開発・教育センターのホームページもご覧ください。
              a.btn.btn-primary(href="http://www.gifu-nct.ac.jp/techno/index.htm")
                i.fa.fa-external-link-alt.titleIcon
                | 地域技術開発・教育センター
              a.btn.btn-success(href="http://www.gifu-nct.ac.jp/techno/seeds/")
                i.fa.fa-external-link-alt.titleIcon
                | 電気情報工学科 研究シーズ集
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering