html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="bootstrap/js/bootstrap.min.js")
    
    //-ページタイトル
    title TOP | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        img(src="../img/main_logo.png", alt="岐阜高専 電気情報工学科")
        //- .top-link
        //-   button.btn.btn-success.badge-pil
        //-     h3 岐阜高専TOP
        .row.text-center.nav-zone
          a.col-sm-3.nav-col(href="./contents/about.html")
            p 学科案内
          a.col-sm-3.nav-col(href="./contents/admission.html")
            p 入学希望の方へ
          a.col-sm-3.nav-col(href="./contents/student.html")
            p 在学・卒業生の方へ
          a.col-sm-3.nav-col(href="./coontents/company.html")
            p 企業の方へ
        .row
          .col-lg-12.slide
            img.img-fluid(src="img/cover1.png", alt="cover(test)")
      .container
        .row
          .col-md-6.col-sm-12
            .card
              .card-header News
              .card-body
                .list-group
                  .list-group-item
                    .Date 2017-12-19
                    .bun サイト公開
                  .list-group-item
                    .Date 2017-12-10
                    .bun ドメイン取得
          .col-md-6.col-sm-12
            .card
              .card-body
                img.img-fluid(src="img/bunner_s.png")
      .container-fluid.text-center
        p.bun © National Institude of Technology, Gifu College