html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/animate.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/toggle.js")
    
    //-ページタイトル
    title 学科案内(研究室紹介) | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        .row.header
          .col-lg-4.col-md-3.col-xs-8
            a(href="/index.html")
              img.site-logo(src="/img/main_logo.png", alt="岐阜高専 電気情報工学科")
          .col-lg-8.col-md-9.col-xs-4
            button#menubtn(type="button")
              i.fa.fa-bars
              span MENU
            nav.menu#menu
              ul
                li
                  a(href="/contents/about.html") 学科案内
                li
                  a(href="/contents/admission.html") 入学希望の方へ
                li
                  a(href="/contents/student.html") 在学・卒業生の方へ
                li
                  a(href="/contents/company.html") 企業の方へ
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle 
              i.fa.fa-question-circle
              | &nbsp;学科案内
            p.lead 電気情報工学科の全てをここでご紹介します
      .container-fluid
        .row
          .col-lg-2.col-md-12.col-sm-12
            aside.sidemenu
              ul
                li
                  a(href="/contents/about.html") 学科概要
                li
                  a(href="/contents/about/eduinfo.html") 教育内容
                li
                  a(href="/contents/about/eduspace.html") 教育設備
                li.sidemenuActive
                  a(href="/contents/about/researcher.html") 研究室紹介
          .col-lg-8.col-md-12.col-sm-12
            .sector#Labo 研究室・教員紹介
            .box
              h2.Title ー個性豊かな教員が揃う電気情報工学科
              img.img-fluid(src="/img/sample.png", alt="")
            .box
              h3.smallTitleElec
                i.fa.fa-bolt
                | &nbsp;電気電子分野
              .row
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 教授　
                      | &nbsp;所　哲郎
                    .jobTitle 工学博士・学科長
                    .field 
                      span.badge.badge-info tanδ
                      span.badge.badge-info 誘電特性
                      span.badge.badge-info 撥水性
                      span.badge.badge-info シリコーンゴム
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 教授　
                      | &nbsp;熊崎 裕教
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 光ファイバ
                      span.badge.badge-info 微細加工
                      span.badge.badge-info ファイバセンサ
                      span.badge.badge-info 光通信用デバイス
                      span.badge.badge-info 干渉計
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 教授　
                      | &nbsp;冨田 睦雄
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info モータ制御
                      span.badge.badge-info モータ開発
                      span.badge.badge-info エアコン用モータ
                      span.badge.badge-info 省エネルギー
                      span.badge.badge-info 地球温暖化防止
              .row
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 准教授
                      | &nbsp;羽渕 仁恵
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 窒化炭素
                      span.badge.badge-info スパッタ
                      span.badge.badge-info ホットワイヤー
                      span.badge.badge-info 理科教育
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 准教授
                      | &nbsp;富田　勲
                    .jobTitle 博士（理学）
                    .field 
                      span.badge.badge-info 光回路
                      span.badge.badge-info 光導波路
                      span.badge.badge-info 光集積回路
                      span.badge.badge-info 量子効果デバイス
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 准教授
                      | &nbsp;飯田 民夫
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 薄膜
                      span.badge.badge-info 超薄膜
                      span.badge.badge-info 結晶
                      span.badge.badge-info 半導体
              .row
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 助教　
                      | &nbsp;白木 英二
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info フェムト秒パルス
                      span.badge.badge-info 光ファイバ
                      span.badge.badge-info 光変調器・光スイッチ
                      span.badge.badge-info 光増幅
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 助教　
                      | &nbsp;柴田 欣秀
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 核融合発電
                      span.badge.badge-info プラズマ工学
                      span.badge.badge-info 放電工学
                      span.badge.badge-info 分校計測
            .box
              h3.smallTitleInfo
                i.fab.fa-hubspot
                | &nbsp;情報分野
              .row
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 教授　
                      | &nbsp;安田　真
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info ソフトコンピューティング
                      span.badge.badge-info 最適化アルゴリズム
                      span.badge.badge-info 情報統計力学
                      span.badge.badge-info 情報の可視化
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 教授　
                      | &nbsp;出口 利憲
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info ニューラルネットワーク
                      span.badge.badge-info 時系列
                      span.badge.badge-info 連想記憶
                      span.badge.badge-info バックプロパゲーション
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 准教授
                      | &nbsp;山田 博文
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 文字・画像認識
                      span.badge.badge-info 教育支援システム
              .row  
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 講師　
                      | &nbsp;田島 孝治
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info モバイルコンピューティング
                      span.badge.badge-info GPS
                      span.badge.badge-info OS
                .col-sm-4
                  .researcher
                    .reseacherName
                      small 助教　
                      | &nbsp;冨本 悠公
                    .jobTitle 博士（工学）
                    .field 
                      span.badge.badge-info 医療工学
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering