html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/animate.css")
    link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="../fontawesome/css/all.css")

    //-js定義
    script(type="text/javascript", src="../js/jquery-3.3.1.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
    script(type="text/javascript", src="../bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="../js/toggle.js")
    script(type="text/javascript", src="../js/template.js")
    
    //-ページタイトル
    title 学科案内 | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        #header_
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle 
              i.fa.fa-question-circle.titleIcon 
              | 制作者紹介
            p.lead このサイトを制作した私について少々書かせていただきます..！
      .container-fluid.back
        .row
          .col-lg-1
          .col-lg-10.col-md-12.col-sm-12.main
            .sector About me
              p.bun 今回、電気情報工学科のHPをリニューアルさせて頂いた、5E(H30)の村重 海月と申します。
            .box
              h2.Title 電気情報工学科とは？
              .boxContent
                img.img-fluid.mediaImage(src="../img/about/e.jpg", alt="")
              .boxContent
                p.bun 電気情報工学科は、電気をエネルギーや通信信号として利用する電気電子工学の分野と、コンピュータや情報・通信に関係した情報工学の分野の2つが合わさった学科です。
                  | 創設当初（昭和３８年）は、電気工学科として電気材料・電気エネルギー・パワーエレクトロニクス関係を中心に、
                  | 電子工学・光工学・電子デバイスなどの分野が加わり、さらにニューラルネットワーク・画像処理などの情報工学分野を拡大していたため
                  | 平成１２年の改組によって、電気情報工学科に生まれ変わりました。現在では、高学年ではコース制が導入され、Windows・Macマシンが1人1台利用できるような
                  | 環境が用意されており、より個人の興味に応じた教育を行っています。
            .box
              .boxContent
                h2.Title_Blue 電気情報工学科の教育
                p.bun 近年における電子技術の進歩に代表される各種技術革新に対応できる技術者の養成を目的とし、情報化社会の基盤をなす電気・電子・情報の各分野について、
                  | 基礎的な技術と知識を身に付け、急速に進む技術の高度細分化による専門化に対応できる専門技術と知識の修得を目標としています。 前述の教育も目標を効率的に達成するために、
                  | 学生の資質に応じた教育を可能とするコース別カリキュラム編成を四年次より実施しています。 すなわち、電気・電子系コースと情報系コースに分かれたカリキュラム体系に基づいた教育により、
                  | より専門的技術と知識の効率的習得を目標としています。 このことにより、電気・電子・情報の各分野におけるバランスのとれた確かな基礎的知識と技術を身に付け、
                  | 同時に社会の要求に応えることのできる高度な専門技術と知識を習得した技術者養成を可能としています。 
              .boxContent
                h2.Title_Blue 卒業後の幅広い分野への対応能力を育成する充実した基礎教育
                p.bun 専門の基礎となる、電気工学、電子工学、情報工学を体系立ててじっくりと学びます。１年から５年まで、実験・実習・演習をふんだんに取り入れたカリキュラムで学びます。
                  | このことは卒業後の進路を本校の中でも最も多く、柔軟なものにしています。
                h2.Title_Blue コース制と少人数教育によるきめ細やかな教育
                p.bun 電気情報工学科では高学年でコース制を導入し，従来の電気電子コースに加えて情報関係をより深く学ぶ情報コースを設置します。もちろん電気電子コースの学生も、
                  | 選択授業となる情報理論や信号処理、画像処理、人工知能、ＯＳなど、幅広い情報工学系の科目を、電気電子系必須授業に加えて選択履修することが可能です。このことは、
                  | 高学年になり自分の好きなことや、やりたいことがより明確になったとき、より適したコースで専門性を育んでいける、柔軟なカリキュラムにより提供されます。 
            .box
              .boxContent
                h2.Title_Blue 教育環境
                p.bun 学生一人に一台のワークステーション利用環境を提供し、入学時から情報の基礎教育を全学生に行います。個別対応可能な学科独自の教育設備により、
                  | 低学年での各学生の個別の能力充実を目指しています。また、高学年ではコース制とともに、指導教官とマンツーマンで卒業研究を行います。本学科は外部資金導入としての科学研究費採択や
                  | 学会発表など、最新の設備と潤沢な予算で充実した内容の卒業研究を実施しています。これらの成果は電気情報工学科の学生と教員の誇りです。進学した卒業生の多くは大学や大学院でも活躍しています。
              .boxContent
                h2.Title_Blue 卒業後の進路について
                p.bun 電気情報工学科卒業生の進学先は、ほとんどが国立大学工学部への編入学と高専専攻科への進学です。 就職は学校創設以来、求人数、会社数ともほとんど全学科のトップです。 
                  | 近年の電気情報工学科の求人件数は、平成２７年度がXXX件、平成２８年度もXXX件、平成２９年度もXXX件にのぼっています。求人倍率もそれぞれXXX倍、XXX倍、XXX倍となっており、就職先の選択肢が広がっています。 （就職活動は夏休み前までにほとんど終わります。）
                p.bun 電気情報工学科は幅広い基礎教育と充実した研究活動を実践しているため、多くの種類の学科・広範な分野の企業への進路が開けています。コース制の採用により色々な進路の中から、
                  | これだと思った分野に関して十分に専門的な勉強ができるため、どの分野でもが合格を勝ち取る可能性がますます高まります。

      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering