html(lang="ja")
  head
    //- メタ定義
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatiblae", content="ie=edge")

    //-CSS定義
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/animate.css")
    link(rel="stylesheet", href="../bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.6/css/all.css")

    //-js定義
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript", src="../bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="../js/toggle.js")
    script(type="text/javascript", src="/js/template.js")
    
    //-ページタイトル
    title 在学・卒業生の方へ | 岐阜高専 電気情報工学科

  body
    .wrapper.animated.fadeIn
      .container-fluid
        #header
        .jumbotron.jumbotron-fluid
          .container
            h1.display-4.jumboTitle
              i.fa.fa-graduation-cap.titleIcon
              | 在学・卒業生の方へ
            p.lead 在学・卒業生向けコンテンツを掲載しています。
      .container-fluid.back
        .row
          .col-lg-1.col-md-12.col-sm-12
          .col-lg-10.col-md-12.col-sm-12.main
            .sector 在学生向けコンテンツ
            .box
              .boxContent
                h2.Title LMS（学習管理システム）
                p.bun 課題の提出・授業資料の閲覧を行うことが出来ます。（要ログイン）
                a.btn.btn-success.btn-block(href="https://lms.gifu-nct.ac.jp/" target="blank")
                  i.fa.fa-external-link-alt.titleIcon
                  | LMS TOPページ
              .boxContent
                h2.Title 実践技術単位 申請サイト
                p.bun 現在取得している実践技術単位の確認、申請、各種検定、資格に対応するポイント数を確認できます。（要ログイン）
                a.btn.btn-danger.btn-block(href="http://apdb.gifu-nct.ac.jp/jissen/" target="blank") 
                  i.fa.fa-external-link-alt.titleIcon
                  | 申請サイト ログイン画面
            .box
              .boxContent
                h2.Title コース分け・研究室配属について（３・４年生向け）
                p.bun コース分け・研究室配属の仕方やその時に留意すべきことをご紹介します。
                a.btn.btn-block.btn-secondary(href="/contents/student/course.html")
                  i.fa.fa-external-link-alt.titleIcon 
                  | コース分けについて
                a.btn.btn-block.btn-secondary(href="/contents/student/jissen.html")
                  i.fa.fa-external-link-alt.titleIcon 
                  | 実践技術単位について
              .boxContent
                h2.Title Webシラバス（高専機構）
                p.bun Web上でシラバスを閲覧することが出来ます。
                a.btn.btn-secondary.btn-block(href="https://syllabus.kosen-k.go.jp/Pages/PublicDepartments?school_id=21" target="blank")
                  i.fa.fa-external-link-alt.titleIcon 
                  | Webシラバス 岐阜高専
            .sector 卒業生向けコンテンツ
            .box
              h2.Title 各種リンク
              .boxContent
                a.btn.btn-block.btn-secondary(href="#")
                  i.fa.fa-external-link-alt.titleIcon
                  |  卒業・修了者のための各種証明書発行について
              .boxContent
                a.btn.btn-block.btn-secondary(href="#")
                  i.fa.fa-external-link-alt.titleIcon
                  |  電気情報工学科 同窓会 「電苑」
              .boxContent
                a.btn.btn-block.btn-secondary(href="#")
                  i.fa.fa-external-link-alt.titleIcon
                  |  岐阜工業高等専門学校 同窓会 「若鮎会」
      .container-fluid.text-center.copyrights ©National Institude of Technology, Gifu College
        br
        | Department of Electrical and Computer Engineering
      //- .quick-link
      //-   p.quick-text クイックリンク
      //-   .btn-group.btn-group-sm(role="group")
      //-     a.btn.btn-orange.margin-0.text-white(type="button") LMS
      //-     a.btn.btn-info.margin-0.text-white(type="button") 実践技術単位
      //-     a.btn.btn-success.margin-0.text-white(type="button") シラバス