@media (min-width: 768px) and (max-width: 991px){
  .site-logo{
    width: 200px;
  }

  #slide_mb{
    display: none;
  }

  .nav-zone{
    font-size: 20px;
  }

  #menubtn{
    display: none;
  }

  #menu{
    display: block !important;
  }

  .menu ul{
    margin: 0;
    padding: 10px;
    list-style: none;
    float: right;
  }
  
  .menu ul:after{
    content: 0;
    display: block;
    clear: both;
  }
  
  .menu li{
    float: left;
    width: auto;
  }
  
  .menu li a{
    display: block;
    padding: 7px 4px;
    margin-left: 3px; 
    font-weight: 300;
    font-size: 0.65rem;
    color: #232323;
    border: solid 2px #CCCCCC;
    border-radius: 5px;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    text-decoration: none;
  }
  
  .menu li :hover{
    color: rgb(252, 21, 102);
    background: linear-gradient(45deg, #FEFF00, #F3DD00);
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .sidemenu{
    height: 60px;
    border-radius: 5px;
    background-color: #323232;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidemenu li a{
    float: left;
    display: block;
    border: solid 1px #EEEEEE;
    padding: 10px;
    margin-left: 5px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #FEFEFE;
  }

  .researcher_e{
    float: left;
    width: 32%;
    height: 200px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #ffde22 solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }
  
  .researcher_j{
    float: left;
    width: 32%;
    height: 125px;
    margin: 5px 5px 5px 5px;
    padding: 0 0 5px 0;
    border-left: #22aeff solid 10px;
    background:rgba(238, 238, 238, 0.8);
  }

  .reseacherName{
    font-size: 2.0em;
    font-weight: 100;
    color: #000000;
  }

  .boxContent{
    float: left;
    width: 48%;
    margin: 1%;
  }  

  .tokopon{
    border: solid 2px #d4bf24;
    border-radius: 5px;
    margin: 10px 80px 10px 80px; 
  }

  .katagaki{
    font-size: 1.3em;
    font-weight: 300;
    background-color: #ffffff;
  }

  .namae{
    font-size: 1.8em;
    font-weight: 500;
    background-color: #252525;
    color: #EEEEEE;
  }

  .newsList{
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #EFEFEF;
    border-left: solid 10px #d6c528;
    border-top-right-radius: 15px;
    color: #837420;
  }

  .newsTitle{
    font-size: 0.8em;
    font-weight: 300;
    color: #222222;
  }

  .eventList{
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #EFEFEF;
    border-left: solid 10px #28d6b0;
    border-top-right-radius: 15px;
    color: #208376;
  }

  .eventTitle{
    font-size: 1em;
    font-weight: 300;
    color: #222222;
  }

  .eventList:hover > .eventTitle{
    color: #28d6b0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .newsList:hover > .newsTitle{
    color: #d6b628;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .currentlyJob{
    height: 20px;
  }

  .commentTitle{
    font-size: 1.7em;
  }
}