.table thead{
  background-color: #a5951f;
  color: #FFFFFF;
}
.table th{
  width: 5px;
}

.table td{
  width: 200px;
  font-size: 0.9em; 
}

.table tr{
  border: solid 2px #999999;
}

thead{
  font-size: 0.8em;
}

#quicklink{
  position: fixed;
  bottom: 0px;
  right: 0;
}

.backToTop{
  font-weight: 500;
  text-align: center;
  font-size: 0.8em;
}